faster-whisper==1.0.1
flask==3.0.2
Flask-Cors==4.0.0
flask-session==0.6.0
huggingface-hub==0.21.4
langchain==0.1.11
llama-index==0.10.19
llama-index-agent-openai==0.1.5
llama-index-embeddings-openai==0.1.6
llama-index-indices-managed-llama-cloud==0.1.4
llama-index-legacy==0.9.48
llama-index-llms-openai==0.1.9
moviepy==1.0.3
pyannote.audio==3.1.1
nltk==3.8.1
psycopg2-binary==2.9.9
qdrant-client==1.8.0
redis==5.0.3
sentence-transformers==2.5.1
speechbrain==1.0.0
SQLAlchemy==2.0.28
transformers==4.38.2
