faster-whisper==1.0.1
flask==3.0.2
Flask-Cors==4.0.0
flask-session==0.6.0
langchain==0.1.11
llama-index==0.10.19
moviepy==1.0.3
pyannote.audio==3.1.1
qdrant-client==1.8.0
redis==5.0.3
sentence-transformers==2.5.1